.home{
    background-color: gray;
    height: auto;
}
.container{
    background-color: #060606;
    height: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    background-color: rgba(61, 59, 59, 0.753);
    height: 30px;
    margin: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;

}
.boxleft{
    /* background-color: red; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    color: white;


}
.boxleft h1{
    font-size: 2.5em;
    word-spacing: 5px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.boxleft p {
    font-size: larger;
    word-spacing: 3px;
    font-weight: 500;
    width: auto;
}

.boxrigth{
    width: 50%;
    height: 100%;
    /* background-color: rgb(67, 4, 238); */
    display: flex;
    justify-content: center;
    align-items: center;
}


.Display{
 background-color: red;
   
  }